{% layout settings.customer_layout %}

<h2>Activate Account</h2>
<p>Please enter a password for your account.</p>

{% form 'activate_customer_password' %}
{{ form.errors | default_errors }}

<div id="password" class="form-row">
  <label class="large" for="password">Password</label>
  <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
</div>

<div id="password_confirm" class="form-row">
  <label class="large" for="password_confirmation">Re-Enter Password</label>
  <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
</div>

<div class="form-row">
  <input class="btn" type="submit" value="Activate Account" />
    <span class="note">or</span>
    <input type="submit" class="btn cancel" name="decline" id="customer_decline" value="Decline Invitation" />
</div>

{% endform %}
