{% layout settings.customer_layout %}

<h2>Create Account</h2>

{% form 'create_customer' %}
{{ form.errors | default_errors }}

<div id="first_name" class="form-row">

  <label for="first_name" class="login">First Name</label>
  <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
</div>

<div id="last_name" class="form-row">
  <label for="last_name" class="login">Last Name</label>
  <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
</div>

<div id="email" class="form-row">
  <label for="email" class="login">Email Address</label>
  <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
</div>

<div id="password" class="form-row">
  <label for="password" class="login">Password</label>
  <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
</div>

<div class="form-row">
  <input class="btn" type="submit" value="Create" />
</div>
{% endform %}
