{% assign page = pages.[settings.frontpage_homepage] %}
{% if page.handle != "" %}
<div class="rte index-page">
    <h2>{{ page.title }}</h2>
    {{ page.content }}
</div>
{% endif %}

{% assign collection = collections.[settings.frontpage_collection] %}
{% if collection.handle != "" %}
<div class="index-collection clearfix">
  <h2>{{ collection.title }}</h2>
    {% for product in collections.[collection.handle].products | limit: settings.num_products %}
      {% include 'product-loop' %}
    {% endfor %}
</div>
{% endif %}
